:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
  
body {
background: #007bff;
background: linear-gradient(to right, #0062E6, #33AEFF);
}
.container {
    position: absolute;
    right: 40%;
    top: 10%;
}
.card-signin {
border: 0;
border-radius: 1rem;
box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
margin-bottom: 2rem;
font-weight: 300;
font-size: 1.5rem;
}

.card-signin .card-body {
padding: 2rem;
}

.form-signin {
width: 100%;
}

.form-signin .btn {
font-size: 80%;
border-radius: 5rem;
letter-spacing: .1rem;
font-weight: bold;
padding: 1rem;
transition: all 0.2s;
}

.form-label-group {
position: relative;
margin-bottom: 1rem;
height: auto;
}

.form-label-group input {
height: auto;
border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
position: absolute;
top: 0;
left: 0;
display: block;
width: 100%;
margin-bottom: 0;
/* Override default `<label>` margin */
line-height: 1.5;
color: #495057;
border: 1px solid transparent;
border-radius: .25rem;
transition: all .1s ease-in-out;
}


.form-label-group input::-webkit-input-placeholder {
color: transparent;
}

.form-label-group input:-ms-input-placeholder {
color: transparent;
}

.form-label-group input::-ms-input-placeholder {
color: transparent;
}

.form-label-group input::-moz-placeholder {
color: transparent;
}

.form-label-group input::placeholder {
color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
padding-top: calc(var(--input-padding-y) / 3);
padding-bottom: calc(var(--input-padding-y) / 3);
font-size: 12px;
color: #777;
}

label a:hover{
    text-decoration: none;
}

.errorLabel {
    color: red;
    font-weight: bold;
    margin-left: 10px;
}

@supports (-ms-ime-align: auto) {
.form-label-group>label {
    display: none;
}
.form-label-group input::-ms-input-placeholder {
    color: #777;
}
}


@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
.form-label-group>label {
    display: none;
}
.form-label-group input:-ms-input-placeholder {
    color: #777;
}
}



@media (max-width: 900px) {
    .container {
        width: 45%;
        position: absolute;
        right: 23%;
        top: 16%;
    }
} 
@media (max-width: 815px) {
    .container {
        width: 40%;
        position: absolute;
        right: 30%;
        top: 16%;
    }
} 
@media (max-width: 735px) {
    .container {
        width: 45%;
        position: absolute;
        right: 27%;
        top: 16%;
    }
} 
@media (max-width: 653px) {
    .container {
        width: 48%;
        position: absolute;
        right: 26%;
        top: 16%;
    }
} 
@media (max-width: 612px) {
    .container {
        width: 50%;
        position: absolute;
        right: 26%;
        top: 16%;
    }
}
@media (max-width: 586px) {
    .container {
        width: 53%;
        position: absolute;
        right: 23%;
        top: 16%;
    }
} 
@media (max-width: 553px) {
    .container {
        width: 60%;
        position: absolute;
        right: 19%;
        top: 16%;
    }
} 
@media (max-width: 490px) {
    .container {
        width: 65%;
        position: absolute;
        right: 17%;
        top: 16%;
    }
} 
@media (max-width: 451px) {
    .container {
        width: 70%;
        position: absolute;
        right: 15%;
        top: 16%;
    }
} 
@media (max-width: 422px) {
    .container {
        width: 75%;
        position: absolute;
        right: 13%;
        top: 16%;
    }
} 
@media (max-width: 392px) {
    .container {
        width: 80%;
        position: absolute;
        right: 10%;
        top: 16%;
    }
} 
@media (max-width: 367px) {
    .container {
        width: 85%;
        position: absolute;
        right: 7%;
        top: 16%;
    }
} 
@media (max-width: 345px) {
    .container {
        width: 90%;
        position: absolute;
        right: 5%;
        top: 16%;
    }
} 
@media (max-width: 329px) {
    .container {
        width: 90%;
        position: absolute;
        right: 5%;
        top: 16%;
    }
} 



.register {
    position: absolute;
    top: 5%;
}
@media (max-width: 900px) {
    .register {
        width: 45%;
        position: absolute;
        right: 23%;
        top: 7%;
    }
} 
@media (max-width: 815px) {
    .register {
        width: 40%;
        position: absolute;
        right: 30%;
        top: 7%;
    }
} 
@media (max-width: 735px) {
    .register {
        width: 45%;
        position: absolute;
        right: 27%;
        top: 7%;
    }
} 
@media (max-width: 653px) {
    .register {
        width: 48%;
        position: absolute;
        right: 26%;
        top: 7%;
    }
} 
@media (max-width: 612px) {
    .register {
        width: 50%;
        position: absolute;
        right: 26%;
        top: 7%;
    }
}
@media (max-width: 586px) {
    .register {
        width: 53%;
        position: absolute;
        right: 23%;
        top: 7%;
    }
} 
@media (max-width: 553px) {
    .register {
        width: 60%;
        position: absolute;
        right: 19%;
        top: 7%;
    }
} 
@media (max-width: 490px) {
    .register {
        width: 65%;
        position: absolute;
        right: 17%;
        top: 7%;
    }
} 
@media (max-width: 451px) {
    .register {
        width: 70%;
        position: absolute;
        right: 15%;
        top: 7%;
    }
} 
@media (max-width: 422px) {
    .register {
        width: 75%;
        position: absolute;
        right: 13%;
        top: 7%;
    }
} 
@media (max-width: 392px) {
    .register {
        width: 80%;
        position: absolute;
        right: 10%;
        top: 7%;
    }
} 
@media (max-width: 367px) {
    .register {
        width: 85%;
        position: absolute;
        right: 7%;
        top: 7%;
    }
} 
@media (max-width: 345px) {
    .register {
        width: 90%;
        position: absolute;
        right: 5%;
        top: 7%;
    }
} 
@media (max-width: 329px) {
    .register {
        width: 90%;
        position: absolute;
        right: 5%;
        top: 7%;
    }
} 