extends ../layouts/create.pug
block content
    nav.navbar.navbar-expand-sm.bg-dark.navbar-light.shadow.p-3.header
        a.navbar-brand.navHome(href='../' style="display:none") Home
        button.navbar-toggler.mr-2(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
            span.navbar-toggler-icon
        #collapsibleNavbar.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item.navHome-1
                    a.nav-link(href='../') HOME
                li.nav-item
                    a.nav-link(href='../users') USERS
                li.nav-item
                    a.nav-link.active(href='./create') NEW USER
                li.nav-item
                    a.nav-link(href='../products') PRODUCTS
    .container.register-form.mt-5
        form(action="/users/create", method="post" autocomplete="off")
            .note
                p Create a new user
            .form-content
                .row
                    .col-md-6
                        .form-group
                            input.form-control(type="text" name="name"  placeholder='Name' required='')
                        .form-group
                            input.form-control(type="text" name="phone"  placeholder='Phone Number' required='')
                    .col-md-6
                        .form-group
                            input.form-control(type="text" name="address"  placeholder='Address' required='')
                        .form-group
                            input.form-control(type="text" name="grade"  placeholder='Grade' required='')
                button.btnSubmit(type='submit') Submit
