extends ../layouts/common.pug
block content
  if !checkingSearch
    nav.navbar.navbar-expand-sm.bg-dark.navbar-light.shadow.p-3.header
      a.navbar-brand.navHome(href='./' style="display:none") Home
      button.navbar-toggler.mr-2(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
          span.navbar-toggler-icon
      #collapsibleNavbar.collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item.navHome-1
              a.nav-link(href='./') HOME
            li.nav-item
              a.nav-link.active(href='./users') USERS
            li.nav-item
              a.nav-link(href='users/create') NEW USER
            li.nav-item
              a.nav-link(href='../products') PRODUCTS
  if checkingSearch
    nav.navbar.navbar-expand-sm.bg-dark.navbar-light.shadow.p-3.header
        a.navbar-brand.navHome(href='../' style="display:none") Home
        button.navbar-toggler.mr-2(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
            span.navbar-toggler-icon
        #collapsibleNavbar.collapse.navbar-collapse
          ul.navbar-nav
              li.nav-item.navHome-1
                a.nav-link(href='../') HOME
              li.nav-item
                a.nav-link.active(href='../users') USERS
              li.nav-item
                a.nav-link(href='../users/create') NEW USER
              li.nav-item
                a.nav-link(href='../products') PRODUCTS
  form(action="/users/search", method="get" class="d-flex col-5 mx-auto mt-5")
      input(type="text" name="q" value=q class="form-control" autocomplete="off")
      button(class="btn btn-dark ml-2") Search 
  .container
    table.table.table-striped
      thead
        tr
          th Name
          th Phone
          th Actions
          th Update Profile
      tbody
        each user in users 
          tr
            td= user.name
            td= user.phone
            td 
              a.btn.btn-secondary(href="/users/" + user.id)  View 
            td 
              a.btn.btn-dark(href="/users/edit/" + user.id)  Edit